<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="xmldata" value="C:\bb\tz\24_21_1003001_2017-05-29_kpt11.xml" />
		<add key="xmlojbectdirectory" value="C:\bb\tz\xmlobject.xml" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>